.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

body {
    background-color: #C0C0C0;
}

h2 {
    text-align: center;
    outline-style: solid;
    outline-width: 5px;
    text-shadow: 2px 2px red;
    background-color: #C0C0C0;
    font-size: 80px;
}


.col-md-4 {
     background-color: #C0C0C0;
     width: 300px;
     padding: 25px;
     border: 25px solid navy;
     margin: 25px;    
}

.input-group {
    border-style: solid;
    border-width: medium;
    border-color: #330099;
    text-shadow: 0 0 3px #FF0000, 0 0 5px red;
    font-size: 20px;
    background-color: #C0C0C0;
}

ul li {
    list-style-type: none;
}



#name:hover {
    background-color: #000066;
}

.box {
    width: 140px;
    padding: 5px;
    border: 10px groove red;
    border-radius: 25px;
    margin: 5px;
    background-color: #C0C0C0;
    color: navy;

}

a {
    font-size: 20px;

}

a:visited {
    color: navy;
}

a:hover {
    color: yellow;
    font-size:200%;
    background: blue;
    font-family: Impact;
}




